/* style001.css */

body
{
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
}

button
{
    margin: 2px;
    padding: 3px 6px;
    background-color: rgb(0, 0, 0);
    border-style: solid 1px rgb(80, 80, 80);
    border-width: 1px;
    border-radius: 3px;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    line-height: 13px;
}

button:hover
{
    border-color: rgb(0, 255, 255);
}

button:active
{
    color: rgb(0, 255, 255);
}

/* make the scrollbar thinner */
::-webkit-scrollbar {
  width: 8px; /* Adjust the thickness here */
}

/* style the scrollbar track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #2c3e50; /* Darker background for contrast */
}

/* style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Bright blue */
  border-radius: 4px; /* Rounded corners for a nice look */
  border: 2px solid transparent; /* adds some space around thumb */
}

/* hover effect for thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Slightly darker on hover */
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2025 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

